@import './shared/_typography.scss';

html {
  box-sizing: border-box;
  font-size: $size-m;
  line-height: 1.4;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*,
:before,
:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
