@import './shared/_typography.scss';

html {
  box-sizing: border-box;
  font-size: $size-m;
  line-height: 1.4;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

*,
:before,
:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

:global(#root) {
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}
